assets
checkpoints/
refinecheckpoints/
data/
misc/
optimresults/
__pycache__/
__pycache__/
release_results/
release_models
results/
thirdparty/
tmp/
qualitative/

tmp*
*.pytorch
*.lprof
*.sw*
*.png
*.pdf

jsonres/
pred.json
pred.zip
